.CalendarWidgetMini {
    --selection-border-radius: 0px;
    --today-size: 0px;
    --today-border-radius: 0px;
}

.fc-day-header {
    border: none !important;
}

.fc-head-container.fc-widget-header {
    border: 1px solid transparent !important;
    border-bottom-color: rgba(0, 0, 0, .1) !important;

    font-weight: 500 !important;
    font-size: 16px !important;

    color: rgba(0, 0, 0, .66) !important;
}

.CalendarWidgetMini .fc-day, .CalendarWidgetMini .fc-day-top {
    border-width: 0px;
}

.CalendarWidgetMini .fc-highlight-skeleton > table {
    border-collapse: separate;
}

.CalendarWidgetMini .fc-head-container.fc-widget-header {
    font-size: 12px !important;
}

.fc-center {
    font-size: 20px !important;
    font-weight: 600 !important;

    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.CalendarWidgetMini .fc-left > * {
    font-size: 14px !important;
    font-weight: 600 !important;

    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 8px !important;
}

.fc-day-header.fc-widget-header{
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

.fc-button {
    font-size: 14px !important;
    font-weight: 500 !important;
    padding: 4px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.CalendarWidgetMini .fc-button {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.fc-minor > .fc-widget-content {
    border-top-style: solid !important;
    border-color: transparent !important;
}

td.fc-widget-content {
    border-color: rgba(0, 0, 0, .05) !important;
}

.CalendarWidgetMini td.fc-widget-content {
    border-color: transparent !important;
}

.CalendarWidgetMini .fc-day-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.CalendarWidgetMini .fc-day-grid > div {
    flex-grow: 1;
    min-height: 0px !important;
}

.CalendarWidgetMini .fc-content-skeleton {
    bottom: 0;
}

.CalendarWidgetMini .fc-content-skeleton > table::after {
    display: none !important;
}

.CalendarWidgetMini .fc-content-skeleton > table, .CalendarWidgetMini .fc-content-skeleton > table > thead, .CalendarWidgetMini .fc-content-skeleton > table > thead > tr, .CalendarWidgetMini .fc-content-skeleton > table > thead > tr > td {
    height: 100% !important;
}

.CalendarWidgetMini .fc-content-skeleton > table > thead {
    display: block;
}

.CalendarWidgetMini .fc-content-skeleton > table > thead > tr {
    display: flex;
    width: 100%;
}

.CalendarWidgetMini .fc-content-skeleton > table > thead > tr > td {
    text-align: center;
    vertical-align: middle;
    flex-grow: 1;
    flex-basis: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CalendarWidgetMini .fc-content-skeleton > table > thead > tr > td > a {
    float: none !important;
    pointer-events: none;

    font-weight: 500;
    display: none;
}

.CalendarWidgetMiniDate {
    float: none !important;
    pointer-events: none;

    font-weight: 500;
}

.CalendarWidgetMini .fc-content-skeleton > table > thead > tr > td > a.fc-week-number {
    display: none;
}

.CalendarWidgetMini .fc-day-number {
    padding: 0 !important;
}

.fc-axis.fc-time.fc-widget-content {
    border-right: 1px solid transparent !important;
    color: rgba(0, 0, 0, .2) !important;
    font-size: 12px !important;
}

.fc-body > tr > .fc-widget-content {
    border: none !important;
}

.fc-row:first-child table {
    border: none !important;
}

.fc-axis.fc-widget-header {
    border-color: transparent !important;
}

.fc-divider.fc-widget-header {
    background-color: rgba(0, 0, 0, .1) !important;
    border-color: rgba(0, 0, 0, .1) !important;
}

.fc-content-skeleton .fc-axis {
    border: none !important;
}

td.fc-today {
    background-color: rgba(0, 128, 255, 0.1) !important;
}

.CalendarBoundingBox.responsive {
    width: 100% !important;
    height: 100% !important;
}

.CalendarEvent {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, .1), 0px 2px 6px rgba(0, 0, 0, .1), 0px 0px 0px 1px rgba(0, 0, 0, .2);
    border: none !important;
    padding: 8px;
    box-sizing: border-box;

    font-size: 14px !important;

    background-color: rgba(31, 139, 255, 0.39) !important;
    color: rgb(41, 106, 172) !important;
    border-left: 2px solid rgb(67, 149, 231) !important;

    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.CalendarEvent .fc-time {
    font-weight: bold;
}

.fc-list-item:hover td {
    background-color: transparent !important;
}

.fc-list-item {
    cursor: pointer;
}

.CalendarWidgetMini .fc-highlight {
    border-radius: var(--selection-border-radius);
    background-color: #E75251;
    opacity: 1;

    position: relative;
}

.CalendarWidgetMini .fc-highlight[colspan="1"] {
    background-color: transparent;
}

.CalendarWidgetMini .fc-highlight[colspan="1"]::after {
    border-radius: var(--today-border-radius);
    background-color: #E75251;

    width: var(--today-size);
    height: var(--today-size);

    content: '';
    
    position: absolute;

    left: 50%;
    top: 50%;

    margin-left: calc(0px - var(--today-border-radius));
    margin-top: calc(0px - var(--today-border-radius));
}

.CalendarWidgetMini .CalendarDateSelected {
    color: white;
}

.CalendarWidgetMini .fc-content-skeleton .fc-today {
    background-color: transparent !important;
}

.CalendarWidgetMini .fc-bg {
    z-index: 4 !important;
}

.CalendarWidgetMini .fc-bg .fc-day {
    background-color: transparent !important;

    vertical-align: middle;
    text-align: center;
    line-height: 100%;

    font-weight: 500;
    font-size: 14px;

    position: relative;
}

.CalendarWidgetMini .fc-bg .fc-other-month {
    color: rgba(0, 0, 0, .5);
}

.CalendarWidgetMini .CalendarWidgetMiniDate {
    position: relative;
}

.CalendarWidgetMini .fc-bg .CalendarWidgetMiniDateSelected {
    color: white !important;
}

.CalendarWidgetMini .fc-bg .fc-today::before {
    border-radius: var(--today-border-radius);
    background-color: #adf0df;

    width: var(--today-size);
    height: var(--today-size);

    content: '';
    
    position: absolute;

    left: 50%;
    top: 50%;

    margin-left: calc(0px - var(--today-border-radius));
    margin-top: calc(0px - var(--today-border-radius));
}